In [1]:
import numpy as np
import pandas as pd
movies_df = pd.read_csv('movie.csv')
movies_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4380 entries, 0 to 4379
Data columns (total 14 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   movie_title           4380 non-null   object
 1   production_date       4380 non-null   object
 2   genres                4380 non-null   object
 3   runtime_minutes       4380 non-null   float64
 4   director_name         4380 non-null   object
 5   director_professions  4380 non-null   object
 6   director_birthYear    4380 non-null   object
 7   director_deathYear    4380 non-null   object
 8   movie_averageRating   4380 non-null   float64
 9   movie_numerOfVotes    4380 non-null   float64
 10  approval_Index        4380 non-null   float64
 11  Production budget $   4380 non-null   int64
 12  Domestic gross $      4380 non-null   int64
 13  Worldwide gross $     4380 non-null   int64
dtypes: float64(4), int64(3), object(7)
memory usage: 479.2+ KB

In [2]:
movies_df1=movies_df[["movie_title","genres","director_name"]]
movies_df1

,movie_title,genres,director_name
0,Avatar: The Way of Water,"Action,Adventure,Fantasy",James Cameron
1,Avengers: Endgame,"Action,Adventure,Drama",-
2,Pirates of the Caribbean: On Stranger Tides,"Action,Adventure,Fantasy",Rob Marshall
3,Avengers: Age of Ultron,"Action,Adventure,Sci-Fi",Joss Whedon
4,Avengers: Infinity War,"Action,Adventure,Sci-Fi",-
...,...,...,...
4375,Super Size Me,Documentary,Morgan Spurlock
4376,The Brothers McMullen,"Comedy,Drama,Romance",Edward Burns
4377,Gabriela,"Drama,Romance",Vincent Jay Miller
4378,Tiny Furniture,"Comedy,Drama,Romance",Lena Dunham
4379,Counting,Documentary,Jem Cohen

In [3]:
movies_df1.isnull().sum()
## no null entries
movies_df1.duplicated().sum()
movies_df1

movies_df1 = movies_df1[movies_df1['director_name'] != '-']

In [4]:
movies_df1.dropna(inplace=True)
## if there happen to be any null values

C:\Users\MSI\AppData\Local\Temp\ipykernel_7696\1646615041.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movies_df1.dropna(inplace=True)

In [5]:
movies_df1

,movie_title,genres,director_name
0,Avatar: The Way of Water,"Action,Adventure,Fantasy",James Cameron
2,Pirates of the Caribbean: On Stranger Tides,"Action,Adventure,Fantasy",Rob Marshall
3,Avengers: Age of Ultron,"Action,Adventure,Sci-Fi",Joss Whedon
5,Justice League,"Action,Adventure,Fantasy",Zack Snyder
6,Spectre,"Action,Adventure,Thriller",Sam Mendes
...,...,...,...
4375,Super Size Me,Documentary,Morgan Spurlock
4376,The Brothers McMullen,"Comedy,Drama,Romance",Edward Burns
4377,Gabriela,"Drama,Romance",Vincent Jay Miller
4378,Tiny Furniture,"Comedy,Drama,Romance",Lena Dunham
4379,Counting,Documentary,Jem Cohen

In [6]:
movies_df1["tags"]= movies_df1["movie_title"] +' '+  movies_df1["genres"]+' '+movies_df1["director_name"]

C:\Users\MSI\AppData\Local\Temp\ipykernel_7696\1258238777.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movies_df1["tags"]= movies_df1["movie_title"] +' '+  movies_df1["genres"]+' '+movies_df1["director_name"]

In [7]:
movies_df1

,movie_title,genres,director_name,tags
0,Avatar: The Way of Water,"Action,Adventure,Fantasy",James Cameron,"Avatar: The Way of Water Action,Adventure,Fant..."
2,Pirates of the Caribbean: On Stranger Tides,"Action,Adventure,Fantasy",Rob Marshall,Pirates of the Caribbean: On Stranger Tides Ac...
3,Avengers: Age of Ultron,"Action,Adventure,Sci-Fi",Joss Whedon,"Avengers: Age of Ultron Action,Adventure,Sci-F..."
5,Justice League,"Action,Adventure,Fantasy",Zack Snyder,"Justice League Action,Adventure,Fantasy Zack S..."
6,Spectre,"Action,Adventure,Thriller",Sam Mendes,"Spectre Action,Adventure,Thriller Sam Mendes"
...,...,...,...,...
4375,Super Size Me,Documentary,Morgan Spurlock,Super Size Me Documentary Morgan Spurlock
4376,The Brothers McMullen,"Comedy,Drama,Romance",Edward Burns,"The Brothers McMullen Comedy,Drama,Romance Edw..."
4377,Gabriela,"Drama,Romance",Vincent Jay Miller,"Gabriela Drama,Romance Vincent Jay Miller"
4378,Tiny Furniture,"Comedy,Drama,Romance",Lena Dunham,"Tiny Furniture Comedy,Drama,Romance Lena Dunham"
4379,Counting,Documentary,Jem Cohen,Counting Documentary Jem Cohen

In [8]:
import re
def replace_special_characters(text):
    return re.sub(r'[^a-zA-Z0-9 ]', ' ', text)

# Apply the function to create a new column
movies_df1['cleaned_tags'] = movies_df1['tags'].apply(replace_special_characters)

movies_df1

C:\Users\MSI\AppData\Local\Temp\ipykernel_7696\1124762601.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movies_df1['cleaned_tags'] = movies_df1['tags'].apply(replace_special_characters)

,movie_title,genres,director_name,tags,cleaned_tags
0,Avatar: The Way of Water,"Action,Adventure,Fantasy",James Cameron,"Avatar: The Way of Water Action,Adventure,Fant...",Avatar The Way of Water Action Adventure Fant...
2,Pirates of the Caribbean: On Stranger Tides,"Action,Adventure,Fantasy",Rob Marshall,Pirates of the Caribbean: On Stranger Tides Ac...,Pirates of the Caribbean On Stranger Tides Ac...
3,Avengers: Age of Ultron,"Action,Adventure,Sci-Fi",Joss Whedon,"Avengers: Age of Ultron Action,Adventure,Sci-F...",Avengers Age of Ultron Action Adventure Sci F...
5,Justice League,"Action,Adventure,Fantasy",Zack Snyder,"Justice League Action,Adventure,Fantasy Zack S...",Justice League Action Adventure Fantasy Zack S...
6,Spectre,"Action,Adventure,Thriller",Sam Mendes,"Spectre Action,Adventure,Thriller Sam Mendes",Spectre Action Adventure Thriller Sam Mendes
...,...,...,...,...,...
4375,Super Size Me,Documentary,Morgan Spurlock,Super Size Me Documentary Morgan Spurlock,Super Size Me Documentary Morgan Spurlock
4376,The Brothers McMullen,"Comedy,Drama,Romance",Edward Burns,"The Brothers McMullen Comedy,Drama,Romance Edw...",The Brothers McMullen Comedy Drama Romance Edw...
4377,Gabriela,"Drama,Romance",Vincent Jay Miller,"Gabriela Drama,Romance Vincent Jay Miller",Gabriela Drama Romance Vincent Jay Miller
4378,Tiny Furniture,"Comedy,Drama,Romance",Lena Dunham,"Tiny Furniture Comedy,Drama,Romance Lena Dunham",Tiny Furniture Comedy Drama Romance Lena Dunham
4379,Counting,Documentary,Jem Cohen,Counting Documentary Jem Cohen,Counting Documentary Jem Cohen

In [9]:
import sklearn
from sklearn.feature_extraction.text import TfidfVectorizer

vectorizer = TfidfVectorizer(ngram_range=(1,2))
tfidf_matrix1 = vectorizer.fit_transform(movies_df1["cleaned_tags"])
tfidf_matrix1

<4054x18376 sparse matrix of type '<class 'numpy.float64'>'
	with 54640 stored elements in Compressed Sparse Row format>

In [10]:
def cleaned_tags(movie_title):
    return replace_special_characters(movie_title.lower())

from sklearn.metrics.pairwise import cosine_similarity
import numpy as np

def search(movie_title):
    movie_title = cleaned_tags(movie_title)
    query_vec = vectorizer.transform([movie_title])
    similarity = cosine_similarity(query_vec, tfidf_matrix1).flatten()
    indices = np.argpartition(similarity, -5)[-5:]
    results = movies_df1.iloc[indices].iloc[::-1]
    
    return results

In [11]:
results = search("Justice League ")
print("Search results:")
print(results[["movie_title", "genres", "director_name"]])

Search results:
                             movie_title                    genres  \
5                         Justice League  Action,Adventure,Fantasy
2869                      Poetic Justice             Drama,Romance
3090                        Major League              Comedy,Sport
9     Batman v Superman: Dawn of Justice   Action,Adventure,Sci-Fi
1314               A League of Their Own        Comedy,Drama,Sport

       director_name
5        Zack Snyder
2869  John Singleton
3090   David S. Ward
9        Zack Snyder
1314  Penny Marshall

In [12]:
import ipywidgets as widgets
from IPython.display import display

movie_input = widgets.Text(
    value='Gabriela',
    description='Movie Title:',
    disabled=False
)
movie_list = widgets.Output()

def on_type(data):
    with movie_list:
        movie_list.clear_output()
        title = data["new"]
        if len(title) > 5:
            display(search(title))

movie_input.observe(on_type, names='value')


display(movie_input,movie_list)

Text(value='Gabriela', description='Movie Title:')

Output()